/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 @import "bulma";


.char {
  display: none;
  border-width: 1rem;
  border: 5px solid rgb(5, 224, 89);
  background-color: transparent;
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.char.active {
  display: block;
}

.dialog {
  display: none;
}

.dialog.active {
  display: block;
}


.circle {
  border-radius: 50%;
  border-width: 1rem;
  border: 5px solid rgb(224, 12, 5);
  background-color: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  animation: scaleIn 2s infinite ease-in-out;
  display:none;
}

.circle.active {
  display:block;
}



.popup-container {
  width: 25rem;
  height: 10rem;
  background: rgb(0, 255, 157);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.22);
  display:none;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 2rem;
}
.popup-container:before {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  content: '';
  left: 0;
  top: 0;
  z-index: -1;
}


.popup-container.active {
  display: block;
}

.start {
  width: 25rem;
  height: 10rem;
  background: rgb(251, 255, 10);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.22);
  display:none;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.start.active{
  display: block;
}

.footer {
  display:flex;
  flex-direction:row ;
  justify-content:center;
  align-items:center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: cyan;
  width:100%;
}

.target-box{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding:0.5rem; 
  margin:0.5rem; 
  background-color:white;

  border-radius:5px;
}

.target-img{
  margin:0;
  height: 2rem;
  border-radius:5px;
}

@keyframes scaleIn {
  0% {
    transform: scale(1, 1);

  }

  60% {
    transform: scale(0.7, 0.7);

  }


  100% {
    transform: scale(1, 1);

  }
}

// @media(max-width:680px){
//   .sidebar{
//     flex-direction: row;
//   }

//   .target-img{
//     width: flex;
//   }

// }
